@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');

:root{
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}
li{
    list-style: none;
}
button{
    background-color: initial;
    border: none;
    font-size: 1em;
    font-family: 'Public Sans', sans-serif;
    cursor: pointer;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* nav */

.nav{
    width: 100%;
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
/* .nav__img{} */
.nav__ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    color: var(--Grayish-Blue);
}
.nav__li{
    height: 100%;
    padding: 2rem 1rem;
    cursor: pointer;
    position: relative;
}
.nav__li:hover{
    color: var(--Dark-Blue);
}
.nav__li::after{
    content: '';
    width: 100%;
    height: 0.3rem;
    position: absolute;
    background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}
.nav__li:hover::after{
    opacity: 1;
}
.nav__btn{
    background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    color: var(--White);
    transition: opacity 0.3s;
}
.nav__btn:hover, .header__btn:hover, .footer__btn:hover{
    opacity: 0.5;
}

/* header */

.header{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row wrap;
    overflow: hidden;
    position: relative;
}
.header__txt{
    width: 50%;
    margin: 5% auto;
    padding: 5rem;
    z-index: 2;
}
.header__h1{
    font-size: 3em;
    font-weight: 400;
    color: var(--Dark-Blue);
}
.header__p{
    width: 95%;
    margin-top: 1rem;
    font-size: 1.2em;
    font-weight: 300;
    color: var(--Grayish-Blue);
}
.header__btn{
    background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
    color: var(--White);
    transition: opacity 0.3s;
}
.header__img--fondo{
    width: 90%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -20%;
    left: 40%;
}
.header__img--contenedor{
    width: 50%;
    z-index: 2;
}
.header__img{
    transform: translateY(-10%) translateX(5%);
}

/* main section */
.main{
    width: 100%;
    transform: translateY(-15rem);
}
.section{
    width: 100%;
    margin: auto;
    padding: 5rem 10%;
}
.section--bank{
    background-color: var(--Light-Grayish-Blue);
}
.article--txt{
    width: 65%;
}
.article__h2--txt{
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 3rem;
    color: var(--Dark-Blue);
}
.article__p--txt{
    font-size: 1.2em;
    font-weight: 300;
    margin: 2rem auto;
    color: var(--Grayish-Blue);
}

.tarjeta__contenedor{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;
}
.article__tarjeta{
    width: 23%;
    min-width: 200px;
}
/* .article__img--tarjeta{} */
.article__h3--tarjeta{
    margin: 2rem auto;
    color: var(--Dark-Blue);
}
.article__p--tarjeta{
    color: var(--Grayish-Blue);
}

.section--last{
    background-color: var(--Very-Light-Gray);
}

.article__tarjeta--last{
    width: 23%;
    min-width: 200px;
    background-color: var(--White);
    border-radius: 0.2rem;
    overflow: hidden;
}
.article__txt--last{
    width: 80%;
    margin: 1rem auto;
    padding-bottom: 1rem;
}
.article__span--last{
    font-size: 0.8em;
}
.article__h3--last{
    font-size: 1em;
    font-weight: 700;
    margin: 1rem 0;
    cursor: pointer;
}
.article__h3--last:hover{
    color: var(--Lime-Green);
}
.article__p--last{
    font-size: 0.9em;
}

.article__img--last{
    width: 100%;
    height: 10rem;
    object-fit: cover;
}
/* footer */

.footer{
    transform: translateY(-15rem);
    background-color: var(--Dark-Blue);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 90% 10%;
    padding: 1rem;
}
.footer__redes{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}
.footer__img--redes{
    margin: 0.5rem;
    cursor: pointer;
}

.footer__enlaces{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}
.footer__ul{
    display: grid;
    grid-template-rows: repeat(3,1fr);
}
.footer__li{
    color: var(--Grayish-Blue);
    font-size: 0.9em;
    padding: 0.5rem;
}
.footer__li:hover{
    color: var(--Lime-Green);
}
.footer__creditos{
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    align-items: center;
    flex-flow: column;
}
.footer__btn{
    background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
    color: var(--White);
    transition: opacity 0.3s;
}
.footer__p{
    font-size: 0.8em;
    margin: 1rem;
    color: var(--Grayish-Blue);
}

.attribution{
    grid-area:  2 / 1 / 3 / 5;
    color: var(--White);
    font-size: 0.8em;
    margin: 0.5rem;
}